<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stacja.IT - Formularz</title>
</head>
<link rel="stylesheet" type="text/css"
      href="css/bootstrap.css"
      th:href="@{/resources/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css"
      href="css/bootstrap-grid.css"
      th:href="@{/resources/css/bootstrap-grid.css}"/>
<link rel="stylesheet" type="text/css"
      href="css/app.css"
      th:href="@{/resources/css/app.css}"/>
<body>


<h3>Lista</h3>

<div class="container-fluid">

    <div class="col-6">

        <div class="row" th:each="driver :${drivers}">
            <div class="col">
                <div class="row">
                    <p th:text="${driver.firstName}"/>
                </div>
                <div class="row">
                    <p th:text="${driver.lastName}"/>
                </div>
                <div class="row">
                    <p th:text="${driver.pesel}"/>
                </div>
                <div class="row">
                    <p th:text="${driver.birthDate}"/>
                </div>
            </div>
        </div>


    </div>

</div>


<script src="js/jquery-3.3.1.min.js" th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
<script src="js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>

</body>
</html>